@model Pro2.View_Models.MasterItemMenuFullViewModel

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Index" enctype="multipart/form-data" method="post" novalidate id="pristine-valid-example">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="MasterItemMenuImageUrl" />

                    <div class="row">
                        <div class="col-xl-4 col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="MasterItemMenuImageFile" class="control-label"></label>
                                <input asp-for="MasterItemMenuImageFile" class="form-control" type="file" />
                                <span asp-validation-for="MasterItemMenuImageFile" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="MasterItemMenuTitle" class="control-label"></label>
                                <input asp-for="MasterItemMenuTitle" class="form-control" />
                                <span asp-validation-for="MasterItemMenuTitle" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="MasterItemMenuBreef" class="control-label"></label>
                                <input asp-for="MasterItemMenuBreef" class="form-control" />
                                <span asp-validation-for="MasterItemMenuBreef" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="MasterItemMenuDesc" class="control-label"></label>
                                <textarea asp-for="MasterItemMenuDesc" class="form-control"></textarea>
                                <span asp-validation-for="MasterItemMenuDesc" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="MasterItemMenuPrice" class="control-label"></label>
                                <input asp-for="MasterItemMenuPrice" class="form-control" type="number" step="0.01" />
                                <span asp-validation-for="MasterItemMenuPrice" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="MasterCategoryMenuId" class="control-label"></label>
                                <select asp-for="MasterCategoryMenuId" asp-items="Model.MasterCategoryMenuList" class="form-control"></select>
                                <span asp-validation-for="MasterCategoryMenuId" class="text-danger"></span>
                            </div>

                            <div>
                                <label asp-for="MasterItemMenuDate" class="control-label"></label>
                                <input asp-for="MasterItemMenuDate" class="form-control" type="datetime-local" />
                                <span asp-validation-for="MasterItemMenuDate" class="text-danger"></span>
                            </div>

                        </div>

                    </div>

                    <div class="form-group mb-3 form-check">
                        <input class="form-check-input" asp-for="IsActive" />
                        <label class="form-check-label" asp-for="IsActive"></label>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-action="Index" asp-route-id="" class="btn btn-info">Clear</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
           
            <div class="card-body">
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MasterItemMenuTitle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MasterItemMenuBreef)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MasterItemMenuDesc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MasterItemMenuPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MasterItemMenuImageUrl)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MasterItemMenuDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MasterCategoryMenu)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MasterItemMenulist)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MasterItemMenuTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MasterItemMenuBreef)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MasterItemMenuDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MasterItemMenuPrice)
                                </td>
                                <td>
                                            <img src="~/@item.MasterItemMenuImageUrl" class="img-thumbnail" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MasterItemMenuDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MasterCategoryMenuId)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    <a asp-action="index" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                    <form asp-action="DeleteFullAction" id="deleteForm_@item.Id" method="post" style="display:inline;">
                                        <input type="hidden" name="Id" class="id_@item.Id" value="@item.Id" />
                                        <button type="button" onclick="DeleteConfirmation(@item.Id)" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
        <!-- end cardaa -->
    </div> <!-- end col -->
</div>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
                    function DeleteConfirmation(id) {
        $('.id_' + id).val(id);

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $(`#deleteForm_${id}`).submit();
                }
            });
        }

    </script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            const input = document.querySelector('input[name="MasterItemMenuDate"]');
            if (!input.value) {
                const now = new Date();
                const formatted = now.toISOString().slice(0,16);
                input.value = formatted;
            }
        });
    </script>

}

 